
<div id="accordion">
    
    <h3><a href="#"><b>Секции</b></a></h3>
    <div>
        <ul class="unstyled">
            <li><i class="icon-folder-close"></i>&nbsp;@Html.ActionLink("Все секции", MVC.Admin.Sections.Index())</li>
            <li><i class="icon-plus-sign"></i>&nbsp;@Html.ActionLink("Создать", MVC.Admin.Sections.Create())</li>
            <li>Item</li>
            <li>Item</li>
        </ul>
    </div>
    <h3><a href="#">Section 2</a></h3>
    <div>
        <ul class="unstyled">
            <li>@Html.ActionLink("CKeditor", MVC.Admin.Posts.Create())</li>
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
        </ul>
    </div>
    <h3><a href="#">Section 3</a></h3>
    <div>
        <ul class="unstyled">
            <li>@Html.ActionLink("CategoryTest", MVC.Admin.Test.Index())</li>
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
        </ul>
    </div>
    <h3><a href="#">Section 4</a></h3>
    <div>
        <ul class="unstyled">
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
        </ul>
    </div>
</div>
