@model WebSite.Models.SectionsIndexViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_DashboardLayout.cshtml";
}
<div class="span9">
    
    @using (Ajax.BeginForm("DeleteSelected", "Sections", new AjaxOptions { HttpMethod = "Post", UpdateTargetId = "sectionsindexgrid", OnBegin = "return ConfirmOnDelete();" }))
    {
    
        <div id="sectionsindexgrid">
       
            @Html.Partial("SectionsPartials/_IndexGrid", Model)
        
        </div>
        <input type="text" name=""/>
        
        <a class="btn btn-success submit-link" href="#"><i class="icon-ok-sign"></i>  Отправить</a>
        
    }
  
</div>
@section ViewScripts
{
    <script type="text/javascript">
    function ConfirmOnDelete() {
        dhtmlx.confirm({ title: "Confirm", text: "Continue?", callback: function () { return true; } });
    }

    

        
    


    </script>
}