@using MvcContrib.UI.Grid
@model WebSite.Models.SectionsIndexViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_DashboardLayout.cshtml";
    
}
<div class="span9">
    @Html.Grid(Model.Sections).Attributes(@class => "table table-striped table-bordered table-condensed").Columns(col =>
                    {
                        col.For(cust => Html.ActionLink(cust.Name, "Create",new{id=cust.SectionId}));
                        col.For(p => p.Description).HeaderAttributes(style=>"background-color: black");
                    })
</div>
